<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
    style.
    .mr-5{
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration : none;
    outline: none;
    color: #fff;
    background-color: #f70303;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px #999;
    text-shadow: 2px 2px red;
    text-decoration-color: #fff;
  }
  .mr-5:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-decoration : none;
  }
  .mr-5:active {
    background-color: #2a08eb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    text-decoration: none;
  }
</head>
<body>
    h1 Data Has Been Saved
    h2 Thank You
    button.mr-5
      a(href='/') Back
</body>
</html>