.mr-5{
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration : none;
    outline: none;
    color: #fff;
    background-color: #f70303;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px #999;
    text-shadow: 2px 2px red;
    text-decoration-color: #fff;
  }
  .mr-5:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-decoration : none;
  }
  .mr-5:active {
    background-color: #2a08eb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    text-decoration: none;
  }
  
input[type=button]{
      color: #f9f8fc;
      background-color: #f70303;
      cursor:pointer;
      padding: 7px;
      border-radius: 30px;
      box-shadow: 0 5px #999;

}
input[type=button]:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=button]:active {
    background-color: #2a08eb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
input[type=text]{
    padding-left: 7px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 5px #999;
    border-radius: 14px;
}
input[type=text]:active{

    border-radius: 14px;
}
.h2{
    text-align: center;
    text-underline-position: below black;
    color: #2a08eb;
    cursor: pointer;
}
#okp{
    text-align: center;
}
#con{
    text-align: center;
}