<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adith</title>
    style
      include htp.css 

</head>

<body id = "sumain">
    <header class="text-gray-600 body-font">
        <nav class="navi">
            <button class="mr-5"   > <a href="/">Home</a></button>
            <!-- <button class="mr-5"  > <a href="/notes">Notes</a> </button> -->
            <!-- <button class="mr-5"  href="/"id = "btn"> About Us </button> -->
            <button class="mr-5" > <a href="/contact">Contact Us</a> </button>
            <!-- <button onclick="window.location.href"='https:www.youtube.com/channel/UCMhvcXN_cnK3246XJSAuRSA'></button> -->
            <!-- <span id="ml-3">RaZeOp</span> -->
        </nav>
    </header>
    <h1> </h1>
    <div id="search">

        <input size=12px type="text">
        <input type="button" value="Search">
    </div>
    <head2 class="h2">
        <u>
            <h1> Welcome To Our Website</h1>
        </u>
        <h2>This has been Presented By RaZeOp</h2>


    </head2>
    <content id="con">
        <h3>If you want to achieve greatness stop asking for permission.</h3>
        <h3>Things work out best for those who make the best of how things work out.</h3>
        <h3>To live a creative life, we must lose our fear of being wrong.</h3>
        <h3>If you are not willing to risk the usual you will have to settle for the ordinary.</h3>
        <h3>Trust because you are willing to accept the risk, not because it's safe or certain.</h3>
    </content>
    
</body>
<script src="../JavaScript/basics2.js"></script>
<!-- <script src="../Exercise/EX.1.js"></script> -->

</html>